.Pokecard {
	text-align: center;
	background-color: rgb(188, 188, 188);
	width: 200px;
	border-radius: 3px;
	padding: 10px;
	box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
	margin: 1rem;
}
.Pokecard-name {
	color: blue;
}
.Pokecard-p {
	font-size: 80%;
}
